<div class="index-container">
  <div class="mdl-grid">
    <div class="motto-container">
      <h1 class="motto">Taking development to infinity and beyond...</h1>
    </div>
    <% @articles.each_with_index.reverse_each do |article, index| %>
      <div class="mdl-card-wide mdl-cell mdl-cell--<%= col_size(index) %>-col mdl-shadow--4dp">

      <div class="mdl-card__title" style="background: url(<%= image(article.image) %>) center / cover;">
        <div class="container-image"></div>
        <%= link_to article.title, article_path(article), class: 'mdl-card__title-text' %>
      </div>
      <div class="mdl-card__supporting-text">
        <p><%= article.body[0...100] %>...</p>
      </div>
  </div>
  <% end %>
</div>

<% if logged_in? %>
  <div class="logged-in-button">
    <%= link_to "Create New Article", new_article_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %><br />
    <%= link_to "Log Out", logout_path, method: :delete, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>
</div>
